
<div class="content-container">

	<%= render :partial => '/nav' %>



	<div class="copy-content">
		<img style="margin: 60px auto 20px auto"src='/assets/hackathon.jpg'></img>

		<h2>About the Open Letters project</h2>
		<p>
		This prototype is the result of two-and-a-half days of collaborative hacking (Feb 11-13, 2013) at the Adler Planetarium with the teams from Zooniverse and New York Public Library Labs. 
		</p>
		<p>
		Over the past year, NYPL Labs has been working on improving digital access to the Library's extensive archival collections. Often, these materials are described only down to the folder level, making it difficult to directly access and cross-reference specific letters and documents within or across collections. What if a researcher or teacher could ask to see, say, all letters between Albert Einstein and Arthur Eddington about general relativity, or between Jane Addams and Theodore Roosevelt about women's suffrage. And what if these queries could traverse all collections, regardless of where they are physically housed? What if we could search the world's historical correspondence like one enormous email inbox?
		</p>

		<p>
		Many community transcription projects (such as the fine work coming out of <a href="http://diyhistory.lib.uiowa.edu/">University of Iowa Libraries</a> and <a href="http://www.transcribe-bentham.da.ulcc.ac.uk/td/Transcribe_Bentham">University College London</a>) invite the public to transcribe the full text of handwritten letters and diaries. Zooniverse and NYPL Labs decided to model an alternative approach that focuses on extracting key connecting terms from historical letters — sender, recipient, date, locations, subjects — into a simple, email-style header. The idea here is to go shallower and broader, surfacing the information from letters that best facilitates their discovery and opens up new avenues for visualizing archives in new ways (e.g. geospatially, chronologically or as social networks).
		</p>
		<p>
		<a href="http://www.nypl.org/collections/labs">NYPL Labs</a> is an award-winning digital skunkworks unit based in the The New York Public Library's flagship facility on 42nd Street in the heart of Manhattan. Labs works closely with librarians and curators to develop projects that push NYPL's vast collections and data sets more fully into the Internet, often inviting users directly into the work of improving, organizing and interpreting library material.


		</p>
		
	</div>

</div>

<div id="footer"></div>

