
<div class="content-container">

	<%= render :partial => '/nav' %>

	<h2>Help Transcribing Playbills</h2>

	<div class="copy-content">
		
		<img src="/assets/screenshot-1.png" align="right"/>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac elit velit, a sollicitudin dolor. Proin eu lectus accumsan nulla luctus eleifend. Nulla vestibulum, nulla vel sagittis ultrices, nulla magna cursus justo, eget condimentum nibh purus ut metus. Quisque bibendum aliquam lectus quis faucibus. Nunc pulvinar congue urna, eget auctor elit pellentesque ut. Donec blandit laoreet leo, quis imperdiet felis consectetur in. Aliquam tristique, massa quis pellentesque cursus, felis mauris imperdiet ante, a dictum libero tellus ut est.
		</p>
		<p>
		Maecenas quis sollicitudin turpis. Duis et dui non nisi porta porttitor. Integer lacus erat, interdum in elementum eu, malesuada id leo. Nunc rutrum, odio vel tempus congue, neque lectus vulputate diam, dapibus tincidunt tellus odio sit amet orci. Maecenas ultrices libero ac massa tempus laoreet. Sed mattis elit pellentesque nibh tincidunt in mattis justo pulvinar. Nullam leo ante, faucibus vitae convallis sed, dignissim ac libero. Mauris vitae libero eu elit molestie feugiat eget at ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc vel leo ac risus rhoncus scelerisque volutpat sed eros. Nullam feugiat semper elit, eu faucibus nisl ultricies eu.

		</p>
		<p>
		In hac habitasse platea dictumst. Sed et nisi non eros blandit scelerisque. Cras at metus sit amet nibh tristique feugiat nec vel ligula. Nam viverra, purus sit amet iaculis iaculis, purus leo imperdiet turpis, non condimentum turpis libero ornare dolor. Vivamus a enim eu elit posuere auctor vitae sit amet magna. Nulla at nunc mi, eget molestie sem. Vestibulum nunc dui, mattis ac rutrum consequat, facilisis pharetra turpis. Duis sit amet dui id nibh mattis luctus. Vestibulum vestibulum nulla imperdiet justo vehicula dignissim. Cras eu nunc sed felis faucibus suscipit. Fusce porta nisl a sem elementum posuere.

		</p>
		<p>
		In in leo justo, eget condimentum magna. Praesent mollis lacinia elementum. Nunc nibh orci, rhoncus et dictum sit amet, imperdiet et risus. Fusce imperdiet viverra tempus. Pellentesque a sapien viverra felis faucibus vehicula. Mauris suscipit mattis erat eget luctus. Curabitur et nisl non ante vehicula ultricies at nec augue. Sed vulputate elit ut quam mollis pellentesque. In sodales porta interdum. Nulla pretium auctor varius. Sed eros massa, sodales quis laoreet id, lobortis sit amet augue. Duis at odio erat. Vestibulum sapien mi, volutpat in porttitor eu, ultricies ac mi. Fusce posuere risus eu nibh faucibus eu molestie lectus ullamcorper.

		</p>
		<p>
		Pellentesque justo velit, faucibus eu aliquam vitae, vestibulum sit amet ligula. Aenean eget nisl sem. Ut interdum mi sed lectus congue condimentum feugiat sapien bibendum. Aliquam nunc nulla, faucibus nec accumsan eget, ultrices sit amet purus. Nulla facilisi. Cras rutrum blandit dui, at condimentum arcu aliquet eget. Aliquam faucibus nulla id elit euismod eleifend auctor justo tempus. In molestie, erat vitae pharetra dictum, quam quam auctor magna, non volutpat sapien nunc vel justo. Integer pretium dolor nec lacus rhoncus tempus. Nam dignissim facilisis lorem, vel pellentesque nisi porta a. Praesent sed lacus libero. Sed ipsum dui, aliquam ac mattis in, scelerisque sed ipsum. Ut posuere volutpat rutrum. Donec sagittis, ante id lacinia ultricies, diam sapien ultrices eros, ut vulputate mi orci eu tortor. Maecenas tincidunt suscipit lorem, rhoncus ultrices massa pellentesque quis. Etiam lorem lectus, consectetur ac tempus id, viverra eu diam.
		</p>
	</div>

</div>

<div id="footer"></div>

