<div class="welcome">
  <div class="container">
    <span class="logo">Open Letters</span>

    <div class="tilden">
      <%= image_tag 'tilden-portrait.jpg', :size => '140x140', :alt => 'Samuel J. Tilden' %>
      <span class="name">Samuel J. Tilden</span>
    </div>

    <div class="summary">
      <h1>Help build a network of historical correspondence.</h1>
      <p>
        Imagine if you could explore handwritten letters from the world's great archives with the ease
        of modern email, tracking conversations across times, people and places? Here you can help
        unlock old letters by transcribing key terms into a simple email-style template.
      </p>
    </div>
  </div>
</div>

<div class="letters">
</div>

<%= render :partial => '/nav' %>
