/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

$layout-width:1000px;

$warn-color: #BB5555;
$success-color: green;

@mixin rounded-corners($radius) {
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

@mixin box-shadow($dist, $blur, $color) {
	-moz-box-shadow: $dist $dist $blur $color;
	-webkit-box-shadow: $dist $dist $blur $color;
	box-shadow: $dist $dist $blur $color;
}

@mixin rotate($degree) {
	-webkit-transform: rotate($degree);
	-moz-transform: rotate($degree);
	transform: rotate($degree);
}

@mixin clearfix() {
  *zoom: 1;

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin height-aligned($height) {
  height: $height;
  line-height: $height;
}

@import "fonts.css";
@import "reset.css";
@import "layout.css.scss";

@import "transcribe-tool.css.scss";
@import "home.css.scss";
@import "leaflet.css";
