$containerWidth: 1000px;
$orange: #bd3500;

@mixin box-shadow($shadow...) {
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

html, body{
	width: 100%;
	height: 100%;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.container {
  width: $containerWidth;
  margin: 0 auto;
}

.black-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 500px;
  height: 88px;
  padding: 0;
  background-color: #151515;
  border-top: 1px solid #3c3c3c;
  @include box-shadow(0 -1px 0 #151515);
  color: #f2f2f2;

  a.logo {
    float: left;
    width: 187px;
    height: 17px;
    margin-top: 33px;
    overflow: hidden;
    text-indent: -9999px;
    background-image: image-url("logo-footer.png");
  }

  ul#top-nav {
    list-style: none;
    float: right;
    margin-top: 27px;

    li {
      float: left;
    }

    a {
      display: block;
      padding: 0 12px;
      margin: 0 6px;
      line-height: 34px;
      font-size: 13px;
      font-weight: bold;
      text-decoration: none;
      color: #f7f7f7;
    }
  }
}

#home_controller.welcome {
  background-image: image-url("dark-grey.jpg");

  #header {
    position: relative;
    min-width: $containerWidth;
    background-color: #f3f3f3;
    border-top: 5px solid #151515;
    border-bottom: 1px solid #ddd;

    a.logo {
      display: block;
      width: 204px;
      height: 40px;
      margin: 24px 0 0 0;
      background-image: image-url("logo-top.png");
      overflow: hidden;
      text-indent: -9999px;
    }

    ul#top-nav {
      a {
        text-shadow: 0 1px 0 #dfdfdf;
        color: $orange;

        &:hover {
          color: #151515;
        }
      }
    }
  }

  .welcome {
    min-width: $containerWidth;
    background-image: image-url("light-grey.jpg");
    border-bottom: 1px solid #bebebe;
    color: #151515;

    .container {
      @include clearfix;
      padding: 50px 0 0 0;
    }

    .tilden {
      position: relative;
      float: left;
      margin-left: 84px;
      padding-bottom: 15px;
      text-align: center;

      &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -10px;
        width: 28px;
        height: 10px;
        background-image: image-url("tilden-arrow.png");
        margin-left: -14px;
      }

      img {
        margin-bottom: 9px;
        border: 5px solid #aeaeae;
        @include rounded-corners(140px);
      }

      h3 {
        margin-bottom: 1px;
        font-size: 16px;
        color: $orange;
      }

      p {
        font-size: 12px;
      }
    }

    .summary {
      float: left;
      width: 620px;
      margin-left: 105px;
      text-shadow: 0 1px 0 #dfdfdf;
    }

    h1 {
      margin: 20px 0 10px 0;
      font-size: 24px;
      font-weight: bold;
      color: $orange;
    }

    p {
      margin-bottom: 30px;
      line-height: 1.4;
      font-size: 15px;
    }

    a#start-transcribing {
      float: left;
      position: relative;
      width: 200px;
      height: 40px;
      background-color: $orange;
      @include box-shadow(0 2px 3px rgba(0,0,0,0.25));
      border: 1px solid #581900;
      @include rounded-corners(3px);
      line-height: 40px;
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      text-shadow: 0 1px 1px #6a1e00;
      text-decoration: none;
      color: #ececec;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 1px;
        width: 196px;
        height: 3px;
        border: 1px solid transparent;
        border-top: 1px solid #f14400;
        @include rounded-corners(2px);
      }

      &:hover {
        background-color: lighten($orange, 3%);
        color: #fff;
      }
    }
  }

  .letters {
    padding: 42px 0;
  }

  #credit {
    line-height: 88px;
    font-size: 18px;
    text-align: center;
    color: #999;

    span {
      display: inline-block;
      @include height-aligned(88px);
      color: #bbb;
    }

    span.nypl {
      margin-left: 8px;
      padding-left: 53px;
      background: image-url("nypl-logomark.png") left center no-repeat;
    }

    span.zooniverse {
      margin-left: 8px;
      padding-left: 50px;
      background: image-url("zooniverse-logomark.png") left center no-repeat;
    }
  }
}

.leftBar {
  @include box-shadow(0 0 20px 0 #999);
	background-image: url(/assets/dark-grey.jpg);
	background-repeat: repeat;
	display: inline-block;
	height: 100%;
  overflow-x: hidden;
	overflow-y: auto;
	vertical-align: top;
	width: 355px;
}

.rightBar {
	border-left: 1px solid #c2c2c2;
	height: 100%;
	overflow-y: scroll;
	position: absolute;
	top: 0;
	left: 355px;
}
/* nav */

#MetaDataViewer{


}


#MetaDataViewer .mediaTypes .metaPane.pulse h3{
  color : red;

}

#MetaDataViewer ul {
  width: 100%;
  min-height: 500px;
}

#MetaDataViewer ul li {
  // box-shadow: 1px 0px 0px 15px rgba(0,0,0,0.15);

  border-top: 1px solid white ;
}

#MetaDataViewer ul li:not(.active) h3 {
  background: rgb(238,238,238); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(238,238,238,1) 50%, rgba(224,224,224,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(50%,rgba(238,238,238,1)), color-stop(100%,rgba(224,224,224,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 50%,rgba(224,224,224,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 50%,rgba(224,224,224,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 50%,rgba(224,224,224,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(238,238,238,1) 50%,rgba(224,224,224,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
}

#MetaDataViewer ul li .metaContent{
  display:none;
}

#MetaDataViewer ul li.active .metaContent{
  display:block
}

.metaContent .bio img{
  width: 80px;
  height: 80px;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.metaContent .bio p {
  width: 180px;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px
}

#MetaDataViewer ul h3{
  text-align: right;
  font-size: 11px;
  color: #424242;
  padding: 10px;
  background-color: #EEEEEE;
  cursor:pointer;
}

hr {
  background-color:#000;
  height:3px;
}

.copy-content{
  max-width:700px;
  margin-left: auto;
  margin-right: auto;
  
}
/* copy-heavy pages */
.copy-content p {
  font-size: 15px;
  line-height:1.6em;
  padding-bottom:1.8em;
  
}

h2 {
  font-size:22px;
  color:#333;
  padding:1em 0;
}


/* playbill list */

.collection-list {
  list-style:none;
  margin:0;
}

.collection-list li {
  width:176px; /* accomodate drop-shadow on img */
  overflow:hidden;
  position:relative;
  display:block;
  float:left;
  margin-bottom:20px;
  margin-right:40px;
}

.playbill-meta {
  text-align:center;
}


.transcribe-link {
  z-index:100;
  position:absolute;
  top:50%;
  left:50%;
  opacity:0.6;
  background-color:green;
  text-align:center;
  font-size:20px;
  color:#fff;
  text-decoration:none;
  display:none;

  width:100px;
  height:100px;
  line-height:100px;
  margin-left:-50px;
  margin-top:-50px;
  border-radius:50px;
}

.collection-list li:hover .transcribe-link {
  display:block;
}


.leaflet-control-attribution {
  display:none;
}

/* photo stacks */

.photo-stack {
	width:150px;
	height:215px;
}

.photo-stack img {
  @include box-shadow(3px 3px 3px #777);

	width: 130px;
	position: absolute;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	-webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	z-index: 9999;

	/* setup transition speed and easing */
	-moz-transition: all 0.2s ease; /* Firefox */
	-webkit-transition: all 0.2s ease; /* WebKit */
	-o-transition: all 0.2s ease; /* Opera */
	transition: all 0.2s ease; /* Standard */

	max-height:180px;
}

/*

PB: Nah..
@-webkit-keyframes shuffle {
	0% {
		margin-left: 0px;
	}
	50% {
		margin-left: 450px;
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		transform: scale(0.9);
	}
	100% {
		margin-left: 0px;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		transform: scale(1);
	}
}
.photo-stack .animate {
	-webkit-animation-name: shuffle;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
}
*/

.photo-stack {
	.deg1 { @include rotate(1deg); }
	.deg2 { @include rotate(2deg); }
	.deg3 { @include rotate(3deg); }
	.deg4 { @include rotate(4deg); }
	.deg1neg { @include rotate(-1deg); }
	.deg2neg { @include rotate(-2deg); }
	.deg3neg { @include rotate(-3deg); }
	.deg4neg { @include rotate(-4deg); }
	img.current {
		@include rotate(0deg);
	}
}
