.content-container {
	width:$layout-width;
	margin:0 auto;
}

body {
	overflow-x: hidden;
}

/* Nav */


#header {
	background-color: #fff;
	border-top: 1px solid #3c3c3c;
	padding:10px 0;
	position: relative;
	&:before {
		border-top: 1px solid #000;
		content: '';
		height: 0px;
		left: 0;
		position: absolute;
		top: -2px;
		width: 100%;
	}
}

ul.transcribe-page-nav {
	display: none;
	position:absolute;
	left:0;
	top:0;
	list-style: none;
	height:600px;
	overflow:auto;
}

ul.transcribe-page-nav li {
	line-height:1px;
}

ul.transcribe-page-nav li img, .transcribe-image-holder img, .ui-dialog {
	@include box-shadow(3px, 4px, #3C3C3C);
}



