.content-container {
	width:$layout-width;
	margin:0 auto;
}

/* Nav */


#header {
	background-color:#fff;
	padding:10px 0;
}

ul.transcribe-page-nav {

	position:absolute;
	
	top:0;
	list-style: none;
	height:600px;
	overflow:auto;

	width: 170px;
	height: 969px;
	right: -166px;
	
}

ul.transcribe-page-nav li {
	line-height:1px;
	cursor:pointer;
}

ul.transcribe-page-nav li img, .transcribe-image-holder img, .ui-dialog {
	@include box-shadow(3px, 4px, #3C3C3C);
}



