
body#transcriptions_controller {
	background-color: #52708B;
	background: url('light-grey.jpg');
}


#transcriptions_controller
{

#header {
	@include box-shadow(3px, 8px, #000000);
}


#header h1 {
	width:190px;
	float:left;
	font-size:22px;
}



#header hr {
	display:none;
}

#top-nav {
	width:400px;
}


/* Transcribe Area */

.rightBar{
	display: inline-block;
	
}

#transcription-area {
	@include box-shadow(3px, 4px, #000000);
	min-width: 600px;
	margin:20px auto;
}

#transcription-area span.loading {
	display:block;
	position:absolute;
	width:400px;
	height:200px;
	left:50%;
	top:300px;
	margin-left:-200px;

	text-align:center;
	font-size:40px;
	color:white;
}

.transcribe-marker {
	position: absolute;
	z-index: 3;
}

.transcribe-marker .transcribe-color-overlay {
	/* another: */
	background-color: #fff;
	opacity:0.75;

	/* one option: */
	background-color: lime;
	opacity:0.2;

	background-color:#dedede;
	opacity:0.8;

	height:100%;
}

.transcribe-marker .transcribe-color-overlay:hover {
	opacity:0.4;
	border:solid #000 2px;
}

.transcribe-marker-controls {
	display:none;
	left:0px;
	top:-2em;
	height:1em;
	padding: 0.5em 5px;
	position:absolute;
	background-color:white;
	border:solid black 1px;
}

.transcribe-marker-controls a {
	padding:0 15px;
	color:#aaa;
	font-weight:bold;
	text-decoration:none;
}

.transcribe-marker-controls a:hover {
	color:#000;
}

.transcribe-marker:hover .transcribe-marker-controls {
	display:block;
}

.hocr-line {
	-background-color:yellow;
	opacity:0.15;
	position:absolute;
	z-index:2;
	display:none;
}

.hocr-line:hover {
	background-color:yellow;
	opacity:0.5;
}

.hocr-zoomed-line:hover {
	-opacity:0.15;
}

.hocr-line.selected {
	opacity:0.2;
	z-index:10;
}

.transcribe-line-bounding-box {
	display:none;
	position:absolute !important; /* if resizable, don't allow jquery ui to set display:relative */
	z-index:5;
	border:solid lime 2px;
}

.transcribe-line-bounding-box .ui-icon-circle-close {
	position:absolute;
	right:-10px;
	top:-10px;
}

.transcribe-line-bounding-box .transcribe-color-overlay {
	background-color:lime;
	opacity:0.75;
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
}

.transcribe-line-bounding-box:hover {
}


.area-select-box-controls {
	position:absolute;
	background-color:white;
	border:solid black 1px;
	font-size: 14px;
	height:2em;
	top:-2.3em;
	width:130px;
	z-index:11;
	display:none;
}

.area-select-box-controls a {
	padding-right:10px;
	color: #777;
	font-weight: bold;
	line-height: 30px;
	padding: 0.5em 10px;
	text-decoration: none;
}


.transcribe-image-holder {
	left: 20px;
	position: absolute;
	top: 0;

	div {
		text-align: left;
	}
}

.transcribe-image-holder img {
	display: none;
	box-shadow: 0 0 15px 0 #777;
	max-width: 90%;
}

#transcribe-zoom-box img {
	display:block;
}

.zoom-box-controls {
	display: none;
}

.zoom-box-control span {
	float:left;
}

.zoom-box-control {
	display:block;
	float:right;
	width:100px;
	background-color:white;
	@include rounded-corners(4px);
	margin-left:10px;
	cursor:pointer;
	border:solid gray 1px;
}

.zoom-box-control.disabled {
	opacity:0.4;
}

/* Transcribe modal */

div.transcribe-modal {
	display: none;
	position: fixed;
	-cursor: move;
}

div.transcribe-modal h1 {
	color:black;
	font-size:20px;
	padding-bottom:10px;
}

div.transcribe-modal h1 span {
	padding-left:20px;
	color:#777;
	font-size:15px;
}

div.transcribe-form-top-bar {
	display: none;
}

.transcribe-form-holder {
	@include box-shadow(0, 20px, #000);
	background: #f7f7f7;
	border: 1px solid #e0e0e0;
	position: relative;
}

.transcribe-form {
	border-left: 1px solid #fff;
	box-sizing: border-box;
	height: 100%;
	padding: 0 20px 20px 20px;
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;

	&:before {
		border-left: 1px solid #e2e2e2;
		content: '';
		left: -2px;
		height: 100%;
		position: absolute;
		top: 0;
		width: 0;
	}
}

div.modal-status-message {
	color:$success-color;
	padding-top:10px;
}

div.delete-link {
	display:none !important;
}

div.delete-link a {
	color:$warn-color;
}

.entity-categories {
	border-bottom: 1px solid #e5e5e5;
	height: 38px;
	margin-left: -20px;
	overflow: hidden;
	width: 400px;

	li {
		background: #efefef;
		border-top: none;
		cursor: pointer;
		float: left;
		font-size: 12px;
		font-weight: 700;
		height: 38px;
		line-height: 38px;
		min-width: 50px;
		text-align: center;

		&:hover {
			background: #e0e0e0;
		}

		&.selected {
			@include box-shadow(0, 10px, #888);
			background: #f7f7f7;
			border-top: #fff;
			position: relative;
		}
	}
}

.entity-submenus {
	margin-left: -20px;
	overflow: hidden;
	top: 38px;
	width: 400px;
}

.entity-submenu {
	border-bottom: 1px solid #e5e5e5;
	display: none;
	height: 38px;

	&.selected {
		display: block;
	}

	li {
		background: #efefef;
		cursor: pointer;
		float: left;
		font-weight: 700;
		height: 38px;
		line-height: 38px;
		text-align: center;

		&:hover {
			background: #fff;
		}

		&.selected {
			@include box-shadow(0, 10px, #888);
			background: #f7f7f7;
			position: relative;
		}
	}
}

ul.transcribe-types {
	list-style:none;
}

ul.entity-types li {
	cursor:pointer;
	padding:4px 0;
	font-size:15px;
}

ul.entity-types li:hover {
	background-color:#efefef;
}

ul.entity-types li .entity-type-choice-examples {
	color:#888;
	padding-left:50px;
	opacity:0;
}

ul.entity-types li:hover .entity-type-choice-examples {
	opacity:1;
}

.transcribe-modal-close-button {
	display: none;
}

div.transcribe-entity-fieldsets {
	padding: 15px 0 0 0;
}
div.transcribe-field-row {
	padding-bottom:8px;

	label {
		display: block;
		font-weight: 700;
		padding-bottom: 2px;
	}

	input {
		margin-bottom: 5px;
		max-width: 45%;
	}
}

div.transcribe-form-help {
	background-color: #efefef;
	bottom: 0;
	box-sizing: border-box;
	color: #555;
	display: none; // for now
	font-size: 12px;
	left: 0;
	max-height: 180px;
	overflow: auto;
	padding: 20px;
	position: absolute;
	width: 100%;
}

div.transcribe-form-help h2 {
	font-size: 20px;
	margin: 7px 0 3px 0;
	padding: 0;
}

div.transcribe-form-help li {
	padding-bottom:3px;
	font-size:12px;
}

div.transcribe-form-help a {
	display:block;
	margin-top:20px;
	color:black;
}

.darkening-overlay {
	background: #3b3b3b;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0.76;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99;
}

#transcribe-zoom-box-holder .ui-resizable-ne,
#transcribe-zoom-box-holder .ui-resizable-se, 
#transcribe-zoom-box-holder .ui-resizable-sw,
#transcribe-zoom-box-holder .ui-resizable-nw {
	-border:solid black 1px;
	-background-color:white;
}

#transcribe-zoom-box-holder .ui-resizable-se {
	width:10px;
	height:10px;
	background-image:none;
	right:-5px;
	bottom:-5px;
}

#transcribe-zoom-box-holder {
	background: #777;
	border: 1px solid #e0e0e0;
	max-width: 400px;
	max-height: 250px;
	overflow: hidden;
	position: absolute;
}

#transcribe-zoom-box {
	position: absolute;
	overflow:hidden;
	width:100%;
	height:100px;
}

.ui-resizable-handle {
	z-index:1;
}

.transcribe-modal-containment {
	position:absolute;
	display:none;
}

.save-button-bar {
	bottom: 5px;
	position: absolute;
	right: 21px;

	.save-button {
		@include rounded-corners(2px);
		background: #009af3;
		border: 1px solid #005190;
		box-shadow: inset 0 1px 0 0 #4db8f7;
		color: #fff;
		cursor: pointer;
		font-size: 14px;
		height: 28px;
		margin: 0;
		padding: 0;
		text-shadow: 0 1px 1px #004e7b;
		width: 78px;

		&:hover {
			background: #4db8f7;
			box-shadow: inset 0 1px 0 0 lighten(#4db8f7, 10%);
		}
	}
}

.transcribe-form-next-after-add {
	display: none;
}

.transcribe-form-next-after-add label {
	padding-left:5px;
}

#next-document, #return-to-list {
	width:100px;
	font-size:13px;
}

#next-document a, #return-to-list a {
	color:#333;
}

#next-document {
	float:right;
	text-align:right;
}

#return-to-list {
	float:left;
	text-align:left;
}








/* Completed Playbill View */

#transcription-instructions {
	padding-bottom:20px;
}

#transcriptions-viewer {
	display:block;
	width: 100%;
	z-index: 99;
	@include box-shadow(3px, 4px, #3c3c3c);
	@include rounded-corners(5px);
}

#transcriptions-viewer h3 {
	margin-bottom: 5px;
	font-size: 18px;
}


.completed-playbill {
	@include box-shadow(1px, 2px, #cccccc);

	margin-bottom: 5px;
	font-size: 14px;
	overflow: hidden;
	overflow:auto;
	display:none;
	max-height: 270px;

}

.completed-playbill h1 {
	font-size:20px;
	color:#777;
}

.completed-playbill ul {
	list-style:none;
}

.completed-playbill li {
	height: 20px;
	width: 100%;
	padding: 35px;
	margin:none;
	border-bottom: 1px solid #C2C2C2;
	border-top: 1px solid #DFDFDF;
}

.completed-playbill li .entity-label {
	font-weight:bold;
	font-style:italic;
	padding: 0px;
	margin: 0px;
	font-size: 14px;
	color: #8a8a8a;
}

.completed-playbill li .placeholder {
	-color:#777;
	color:#b55;
	margin-left: 45px;
	font-size: 20px;
	color: #151515;
	font-weight: 200;
}

.completed-playbill li ul {
	margin-top:10px;
}

.completed-playbill li li {
	margin-bottom:5px;
}

.completed-playbill a { 
	display:none;
	width:30px;
	font-size:12px;
	font-family:sans-serif;
	font-style:none;
	color:#aaa;
	float:right;
	margin-left:10px;
}

.completed-playbill a:hover { 
	color: #000;
}

/* help */
.transcribe-full-help {
	padding: 0 20px 40px 20px;

	h2 {
		font-size: 20px;
		margin-top: 1em;
	}

	li {
		padding-top: 10px;
	}

	p {
		padding: 10px 0;
		line-height: 1.6em;
	}
}

#save-instructions {
	padding-top:40px;
}

#done-button-holder {
	padding-bottom: 20px;
	text-align:right;
}

#done-button {
	font-size: 14px;
	line-height:20px;
	font-weight:bold;
}








/* Inline Tutorial */

.inline-tutorial-holder {
	background-color: #fff;
	border: 3px solid #303030;
	@include rounded-corners(5px);
	@include box-shadow(3px, 6px, #000000);
	color: #333;
	display: none;
	font: 12px/15px Prelude,Arial,sans-serif;
	height: 160px;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 300px;
	z-index: 10000;
}

.inline-tutorial-box {
	height: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
	width: 100%;
}

.inline-tutorial-box h1 {
	color: #333;
	font: 15px/15px Prelude,Arial,sans-serif;
	left: 5px;
	margin-left: 10px;
	margin-top: 10px;
	text-transform: uppercase;
	top: 10px;
}

.inline-tutorial-box .tutorial-content {
	padding:15px 10px 0 10px;
	line-height:18px;
	font-size:13px;
}

.inline-tutorial-box .tutorial-content p {
	padding-bottom:10px;
}

.inline-tutorial-box .tutorial-controls {
	background-color: #303030;
	bottom: 10px;
	font: 10px/20px Prelude,Arial,sans-serif;
	height: 20px;
	position: absolute;
	text-transform: uppercase;
	width: 100%;
}

.inline-tutorial-box .tutorial-controls span {
	color:#fff;
	display:block;
	width:50px;
	float:right;
	text-align:right;
	cursor:pointer;
	height:20px;
	line-height:20px;
	padding-right:10px;
	font-size:11px;
}

.inline-tutorial-arrow {
	height: 0;
	position: absolute;
	width: 0;
}

.arrow-bottom-left, .arrow-bottom-right {
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #303030;
	bottom:-20px;
}

.arrow-bottom-right, .arrow-top-right {
	right:20px;
}

.arrow-bottom-left, .arrow-top-left {
	left:20px;
}

.arrow-top-left, .arrow-top-right {
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #303030;
	top:-20px;
}

.arrow-right {
	right:-20px;
	top:20px;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #303030;
	border-top: 20px solid transparent;
}

.arrow-left {
	left:-20px;
	top:20px;
	border-right: 20px solid #303030;
	border-bottom: 20px solid transparent;
	border-top: 20px solid transparent;
}


} /* end transcriptions_controller scope */
