<div id="header">
  <%= link_to 'Open Letters', root_path, :class => 'logo' %>

  <div id="top-nav" style="display: none;">
    <% if params[:controller] == 'transcriptions' %>
      <a href="/" class="primary<%= @active == 'transcribe' ? ' active' : '' %>">Home</a>
    <% else %>
      <a href="/" class="primary<%= @active == 'transcribe' ? ' active' : '' %>">Transcribe</a>
    <% end %>

    <a href="/help" class="secondary">Help</a>
    <a href="/about" class="secondary">About</a>
  </div>

  <%= link_to 'Start Transcribing', asset_collections_path, :id => 'start-transcribing' %>
</div>
