<h1>Playbills</h1>
<hr />
<div id="top-nav">
	<a href="/" class="primary<%= @active == 'transcribe' ? ' active' : '' %>">Transcribe</a>
	<a href="/help" class="secondary">Help</a>
	<a href="/about" class="secondary">About</a>
</div>
