
<div id="header">
	<h1><a href="/">You Had Mail</a></h1>
	<hr />
	<div id="top-nav">
		<% if params[:controller] == 'transcriptions' %>
			<a href="/" class="primary<%= @active == 'transcribe' ? ' active' : '' %>">Home</a>
		<% else %>
			<a href="/" class="primary<%= @active == 'transcribe' ? ' active' : '' %>">Transcribe</a>
		<% end %>
		<a href="/help" class="secondary">Help</a>
		<a href="/about" class="secondary">About</a>
	</div>

	<div class="logos">
		<img src="/assets/images/logos/zooniverse.png"></img>
		<img src="/assets/images/logos/nypl.png"></img>
	</div>
</div>

